.logotypePosition {
    margin-left: 10%;
    position: absolute;
}
.loginConteiner{
    
    position: absolute;
    margin-left: 39%;
    margin-top: 8%;
    text-align: center;

}
.registerConteiner{
    position: absolute;
    text-align: center;
    margin-left: 36%;
    margin-top: 4%;
    
}
